accelerate==1.9.0
altair
pandas
datasets
langchain
langgraph
langchain_core
langchain_community
langchain_huggingface
langgraph-prebuilt
langchain-tavily
semanticscholar
tavily-python==0.7.10
streamlit
transformers==4.55.3
langchain_openai
langchain_google_genai
torch
